* {
  color: white;
}

.App{
  background-color: black;
  height: inherit;
  width: inherit;
  margin: 0;
  padding: 0;
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


/* --------------------- navbar --------------------- */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #555555;
  margin: 1.5%;
}

.favorites {
  display: flex;
  justify-content: center;
  align-items: center;
  height:80%;
  width:12%;
  background-color: #838383;
  height: 100%;
  margin: 5px;
  border: 2px solid black;
  font-size: 18px;
  text-decoration: none;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height:80%;
  width:10%;
  background-color: #838383;
  height: 100%;
  margin: 5px;
  border: 2px solid black;
  font-size: 18px;
  text-decoration: none;
}

/* --------------------- all movies page --------------------- */
.all-movies {
  display: flex;
  justify-content: spacebetween;
  flex-wrap: wrap;
}

.card-navs {
  padding: 20px;
  margin:20px;
  height: 465px;
  width: 225px;
  background-color: #555555;
  border-radius: 5px;
}

.image {
  height: 275px ;
}

.poster-card {
  height: inherit;
  border-radius: 10px;
}
/* --------------------- movie info page --------------------- */
.poster {
    height: 300px;
    border: 5px solid #FFFFFF;
    margin-top: 10px;
    box-shadow: 5px 5px 11px 1px rgba(0, 0, 0, 0.25),
    -5px -5px 11px 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.view-movie-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px -80px 200px 20px #000000,
    inset 0px -80px 200px 20px #000000;
    background-position: center;
    background-size:cover;
    border-radius: 5px;
}

.movie-info-container {
    width: 80%;
    display: flex;
}

.movie-faq {
    background-color: #555555;
    padding: 5px 15px;
    margin: 15px;
    width:30%;
    box-shadow: 5px 5px 11px 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.about-movie {
    background-color: #555555;
    padding: 5px 15px;
    margin: 15px;
    width:60%;
    box-shadow: 5px 5px 11px 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.title-favorite {
  display: flex;
}

.favorite-button {
  height: 40px;
  width: 150px;
  margin-left: 30px;
  margin-top: 20px;
  color: black;
  font-size: 15px;
  cursor: pointer;
}

.no-fav-text {
  margin-left: 30px;
  font-size: 35px;
}

/* ------------------- Error page ------------------- */

.error-handling {
  width: 100%;
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-handling-img {
  height: 600px;
}

.error-message-box {
  background-color: #555555;
  margin-top: -40px;
  padding: 20px;
  box-shadow: 5px 5px 11px 1px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}